<%include ./partials/header%>
<div class="container">
<div class="content_box">
    <div class="right_bar ">
        	<div class="tab-content ">
      <%subjects.forEach((subject)=>{%>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Teacher</th>
        <th>Present</th>
        <th>Total Classes</th>
        <th>Percentage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%=subject.name%></td>
        <td><%=subject.teacher%></td>
        <td><%=subject.present%></td>
        <td><%=subject.total%></td>
        <td><%=Math.round((subject.present/subject.total)*100)%></td>
        <td>
        <div class="form-inline">
          <div class="form-group">
        <form action="/subject/<%=subject._id%>/delete?_method=DELETE" method="POST">
          <a href="/subject/<%=subject._id%>/edit"><i class="fas fa-edit fa-2x"></i></a>
          <button type="submit" class="btn btn-dark float-right rounded-circle"><i class="far fa-trash-alt"></i></button>
        </form>
        </div>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
  <%});%>
	    </div>
  <a class="nav-link btn btn-dark" href="/subject">Add Subject</a>
    </div>
</div>
</div>
